# ========================
# GLOBAL IGNORE RULES
# ========================
# Ignore bottles 
Bottles/

# Ignore all datasets
data/
**/data/
datasets/
**/datasets/

# Ignore all logs and outputs
logs/
outputs/

# Ignore any images / visualizations
*.jpeg
*.bmp
*.gif
*.webp
*.mp4
*.avi
*.mov
*.mkv
*.tsv
*.json
*.parquet
*.pdf
*.svg
*.eps
# Ignore notebook checkpoints, pycache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore environments
env/
venv/

# Ignore editor folders
.vscode/
.idea/
.history/

# Ignore archives
*.zip
*.tar
*.gz

# Ignore secrets
.env
secrets.json

# Ignore base model weights
*.tflite
*.npy
*.h5
*.pb
*.index
*.data-00000-of-00001
