# ========================
# GLOBAL IGNORE RULES
# ========================

# Ignore all datasets
data/
**/data/
datasets/
**/datasets/

# Ignore any images / visualizations
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.webp
*.yaml
*.mp4
*.avi
*.mov
*.mkv
*.csv
*.tsv
*.json
*.parquet
*.pdf
*.svg
*.eps
# Ignore notebook checkpoints, pycache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore environments
env/
venv/

# Ignore editor folders
.vscode/
.idea/
.history/

# Ignore archives
*.zip
*.tar
*.gz

# Ignore secrets
.env
secrets.json

# Ignore base model weights
*.pt
